<div class="subsection mt-3">

  <div class="subsection__securelife p-75">
    <div class="d-flex pt-5 pb-5">
      <div>
        <h3>Secure you IT life</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi eum architecto pariatur velit ipsa rerum, veritatis obcaecati explicabo tempora, doloremque voluptates perferendis repellat porro totam praesentium amet nihil. Accusamus, blanditiis?
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum placeat qui numquam perferendis. Tempora aspernatur, dolore sapiente sint odit tempore rem vitae officiis facere nobis maxime mollitia error unde eveniet. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Esse veniam natus atque facere nihil repellat doloremque ratione soluta dicta ut! Vitae, nobis illo incidunt sunt perferendis error. Placeat, nisi delectus.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">More</a>
      </div>
      <div>
        <img src="../../../assets/images/secure your it.png" height="400px"/>
      </div>
    </div>
  </div>

  <div class="subsection__products p-75">
    <div class="d-flex pt-5 pb-5 align-center justify-content-center flex-column text-center">      
        <h3>Products for You</h3>
        <p><b>GET THE BEST YOU CAN'T FIND ANYWHERE</b></p>
        <p class="mr-5 ml-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nesciunt distinctio eaque amet voluptas. Cupiditate voluptatum, ipsum modi iste possimus temporibus similique, ratione magnam eveniet quia facere, quis cumque obcaecati.</p>      
    </div>
  </div>

  <div class="subsection__productsitems mt-4">
    <div class="subsection__feature-item">
      <img src="../../../assets/images/office-broadband.png">
      <p><b>Technical Security</b></p>
      <p style="padding: 0 5%;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt voluptas dicta consectetur ullam nostrum.</p>
      <a class="btn btn-info" href="#" role="button">VIEW DETAILS</a>
    </div>
    <div class="subsection__feature-item">
      <img src="../../../assets/images/personal-firewall.png">
      <p><b>Data Security</b></p>
      <p style="padding: 0 5%;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt voluptas dicta consectetur ullam nostrum.</p>
      <a class="btn btn-info" href="#" role="button">VIEW DETAILS</a>
    </div>
    <div class="subsection__feature-item">
      <img src="../../../assets/images/mobile-firewall.png">
      <p><b>Identity Theft</b></p>
      <p style="padding: 0 5%;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt voluptas dicta consectetur ullam nostrum.</p>
      <a class="btn btn-info" href="#" role="button">VIEW DETAILS</a>
    </div>
  </div>

  <div class="subsection__footer pt-5 p-75">

    <div class="subsetion__footerimage">
      <img src="../../../assets/images/logo.png" height="50px"/>
      <p>All rights reserved</p>
    </div>

    <div class="subsection__footerlinks">

      <div class="subsection__footeritems p-4">
        <b>Services</b>
        <ul>
          <li>Technical security</li>
          <li>Data security</li>
          <li>Internet security</li>
          <li>Information security</li>
        </ul>
      </div>

      <div class="subsection__footeritems p-4">
        <b>Product</b>
        <ul>
          <li>Technical security</li>
          <li>Data security</li>
          <li>Internet security</li>
          <li>Information security</li>
        </ul>
      </div>

      <div class="subsection__footeritems p-4">
        <b>Contact</b>
        <ul>
          <li>Technical security</li>
          <li>Data security</li>
          <li>Internet security</li>
          <li>Information security</li>
        </ul>
      </div>

      <div class="subsection__footeritems p-4">
        <b>Social</b>
        <ul>
          <li>Technical security</li>
          <li>Data security</li>
          <li>Internet security</li>
          <li>Information security</li>
        </ul>
      </div>

    </div>
  </div>

</div>
